@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalización de los bullets de paginación */
.custom-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #d3d3d3;
  margin-top: 24px;
}

.custom-swiper .swiper-pagination-bullet-active {
  color: #fff;
  background: #06283d;
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: #06283d;
  padding: 8px 16px;
}

.custom-swiper .swiper-button-next:hover,
.custom-swiper .swiper-button-prev:hover {
  color: #3f3f46;
}

.custom-swiper {
  padding-bottom: 32px !important;
}

.mini-swiper .swiper-slide {
  width: auto !important;
}

/* Estilo adicional para otros elementos */
#map {
  height: 400px;
}

.hero-swiper .swiper-slide {
  height: "calc(100vh - 64px)";
}
